@import url("basic.css");
body {
  position: relative;
  width: 100%;
  min-width: 280px;
  height: auto;
  margin: 0 auto;
  padding: 16px;
  background-color: #f2eec9;
  background-image : url(http://api.thumbr.it/whitenoise-361x370.png?background=f2eec9&noise=e8dfae&density=40&opacity=80);
  font-family: "Helvetica Nueu", "Helvetica", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  color: #514e39;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
}

.main {
  position: relative;
  padding: 80px;
  background-color: #f0e6c0;
  background-image : url(http://api.thumbr.it/whitenoise-361x370.png?background=f0e6c0&noise=e7d598&density=40&opacity=80);
  /*
  border: 1.5px solid #9C9374;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  */
  border: 3px solid #9C9374;
  border-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=9C9374&noise=ffffff&density=50&opacity=100) 25 25 repeat;
}
